<section id="aboutus" class="bg-light-grey">
    <div class="container">
      <div class="content-center">
        <h2>Keep calm, you're in a <b>good company</b></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
          consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
          vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
          nesciunt error ut quidem autem.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="member-container">
            <div class="member-details">
              <h5>{{datos.aboutus.member1.name}}</h5>
              <span>{{datos.aboutus.member1.position}}</span>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-youtube"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-dribbble"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-facebook"></i></a>
                </li>
              </ul>
            </div>
            <img [src]="datos.aboutus.member1.img" class="img-fluid" alt="member 1" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="member-container">
            <div class="member-details">
              <h5>{{datos.aboutus.member2.name}}</h5>
              <span>{{datos.aboutus.member2.position}}</span>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-youtube"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-dribbble"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-facebook"></i></a>
                </li>
              </ul>
            </div>
            <img [src]="datos.aboutus.member2.img" class="img-fluid" alt="member 2" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="member-container">
            <div class="member-details">
              <h5>{{datos.aboutus.member3.name}}</h5>
              <span>{{datos.aboutus.member3.position}}</span>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-youtube"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-dribbble"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><i class="icon ion-logo-facebook"></i></a>
                </li>
              </ul>
            </div>
            <img [src]="datos.aboutus.member3.img" class="img-fluid" alt="member 3" />
          </div>
        </div>
      </div>
    </div>
  </section>