<section id="testimonials" class="divider">
    <div class="container">
      <div class="content-center">
        <h2>A few words from <b>our clients…</b></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
          consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
          vitae sapiente neque, cum dolorum.
        </p>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-container">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                ea consequuntur, odit veniam mollitia aliquam reiciendis
                dignissimos, vitae sapiente neque, cum dolorum.
              </p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3">
                    <img [src]="datos.aboutus.member1.img" class="img-fluid" alt="testimonial user 1" />
                  </div>
                  <div class="col-md-9">
                    <h6>{{datos.testimonials.t1.name}}</h6>
                    <span>{{datos.testimonials.t1.position}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-container">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                ea consequuntur, odit veniam mollitia aliquam reiciendis
                dignissimos, vitae sapiente neque, cum dolorum.
              </p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3">
                    <img [src]="datos.aboutus.member2.img" class="img-fluid" alt="testimonial user 2" />
                  </div>
                  <div class="col-md-9">
                    <h6>{{datos.testimonials.t2.name}}</h6>
                    <span>{{datos.testimonials.t2.position}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-container">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                ea consequuntur, odit veniam mollitia aliquam reiciendis
                dignissimos, vitae sapiente neque, cum dolorum.
              </p>
              <div class="rating">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="icon ion-md-star"></i>
                  </li>
                </ul>
              </div>
              <div class="testimonial-user">
                <div class="row">
                  <div class="col-md-3">
                    <img [src]="datos.aboutus.member3.img" class="img-fluid" alt="testimonial user 3" />
                  </div>
                  <div class="col-md-9">
                    <h6>{{datos.testimonials.t3.name}}</h6>
                    <span>{{datos.testimonials.t3.position}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <div class="control-button">
            <i class="icon ion-md-arrow-back"></i>
          </div>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <div class="control-button">
            <i class="icon ion-md-arrow-forward"></i>
          </div>
        </a>
      </div>
    </div>
  </section>