<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 topmargin-sm">
          <h3>Ready to accelerate your project? <b>just let us know.</b></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
            consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
            vitae sapiente neque, cum dolorum. contact@smartagency.com
          </p>
        </div>
        <div class="col-md-6 topmargin-sm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="Last name" />
              </div>
            </div>
            <div class="col-md-12">
              <form class="form-group">
                <input type="email" class="form-control" id="" placeholder="Email" />
              </form>
            </div>
            <div class="col-md-12">
              <form class="form-group">
                <input type="text" class="form-control" id="" placeholder="Company name" />
              </form>
            </div>
            <div class="col-md-12">
              <form class="form-group">
                <input type="number" class="form-control" id="" placeholder="Phone number (optional)" />
              </form>
            </div>
            <div class="col-md-12">
              <a href="#" class="btn btn-dark full-width">Contact sales</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>