<section id="portfolio">
    <div class="container-fluid">
      <div class="content-center">
        <h2>
          We work with exciting brands to build <b>amazing products.</b>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
          consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
          vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
          nesciunt error ut quidem autem.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="#">
                <h2>{{datos.portfolio.t1}}</h2>
              </a>
              <a href="#">
                <p>- App/Digital Product</p>
              </a>
            </div>
            <img [src]="datos.portfolio.img1" class="img-fluid" alt="portfolio 1" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="#">
                <h2>{{datos.portfolio.t2}}</h2>
              </a>
              <a href="#">
                <p>- App/Digital Product</p>
              </a>
            </div>
            <img [src]="datos.portfolio.img2" class="img-fluid" alt="portfolio 2" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="#">
                <h2>{{datos.portfolio.t3}}</h2>
              </a>
              <a href="#">
                <p>- App/Digital Product</p>
              </a>
            </div>
            <img [src]="datos.portfolio.img3" class="img-fluid" alt="portfolio 3" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="portfolio-container">
            <div class="portfolio-details">
              <a href="#">
                <h2>{{datos.portfolio.t4}}</h2>
              </a>
              <a href="#">
                <p>- App/Digital Product</p>
              </a>
            </div>
            <img [src]="datos.portfolio.img4" class="img-fluid" alt="portfolio 4" />
          </div>
        </div>
      </div>
      <div class="text-center topmargin-sm">
        <p>Ready to accelerate your project?</p>
        <a href="#" class="text-dark"><b>Just let us know.</b></a>
      </div>
    </div>
  </section>
