<section id="hero">
    <div class="container">
      <div class="content-center topmargin-lg">
        <h1>{{datos.hero.title}}</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
          consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
          vitae sapiente neque, cum dolorum.
        </p>
        <a href="#" class="btn btn-light topmargin-sm">Explore now <i
            class="icon ion-md-arrow-dropright-circle"></i></a>
      </div>
    </div>
  </section>
