<section id="pricing" class="divider">
    <div class="container">
      <div class="content-center">
        <h2>Pricing built for <b>every business</b></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea
          consequuntur, odit veniam mollitia aliquam reiciendis dignissimos,
          vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
          nesciunt error ut quidem autem.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="pricing-container">
            <div class="plans plan-light">
              <h4>Starter solution</h4>
              <h2>$89 <span>/ per month</span></h2>
              <h4>Per 1 Million Data points</h4>
              <ul class="topmargin-xs">
                <li>Integration with Google Analytics</li>
                <li>Online payments</li>
                <li>Solution Architect</li>
                <li>Dedicated Support</li>
              </ul>
              <a href="#" class="btn btn-dark full-width topmargin-sm">Start now</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pricing-container">
            <div class="plans plan-dark">
              <h4>Enterprise solution</h4>
              <h2>$139 <span>/ per month</span></h2>
              <h4>Per 1 Million Data points</h4>
              <ul class="topmargin-xs">
                <li>Integration with Google Analytics</li>
                <li>Online payments</li>
                <li>Solution Architect</li>
                <li>Dedicated Support</li>
              </ul>
              <a href="#" class="btn btn-transparent full-width topmargin-sm">Start now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>